<div class="container" style="height: 100%;">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-book"></span> Chats
            </h3>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>1</td>
              <td>Miguel</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="chatbody">
        <div class="panel panel-primary">
          <div class="panel-heading top-bar">
            <div class="col-md-8 col-xs-8">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-comment"></span> Ventilador - Miguel
              </h3>
            </div>
          </div>
          <div class="panel-body msg_container_base">
            <div class="row msg_container base_sent">
              <div class="col-md-10 col-xs-10">
                <div class="messages msg_sent">
                  <p>
                    Ejemplo de Chat
                  </p>
                  <time datetime="2009-11-13T20:00">Juan • 51 min</time>
                </div>
              </div>
              <div class="col-md-2 col-xs-2 avatar" style="margin-top: 15px;">
                <img
                  src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png"
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="row msg_container base_receive">
              <div class="col-md-2 col-xs-2 avatar">
                <img
                  src="https://cdn.pixabay.com/photo/2014/03/25/16/54/user-297566_960_720.png"
                  class="img-responsive"
                />
              </div>
              <div class="col-md-10 col-xs-10">
                <div class="messages msg_receive">
                  <p>
                    Ejemplo de chat
                  </p>
                  <p>
                    Ejemplo de chat
                  </p>
                  <p>
                    Ejemplo de chat
                  </p>
                  <time datetime="2009-11-13T20:00">carlos • 51 min</time>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input
                id="btn-input"
                type="text"
                class="form-control input-sm chat_input"
                placeholder="Escribe un mensaje"
              />
              <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat" style="height: 100%;">
                  <i class="bi bi-send"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
