<div id="formContent">
    <div class="card p-5">
        <form #f="ngForm" (ngSubmit)="registrar()">
            <div class="mb-3 row">
                <label class="label" >Nombre:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                  </div>
                  <input #nombre="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Username" [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) 
                  ? 'is-invalid' : ''" type="text" name="nombre" [(ngModel)]="usuario.nombre"  required maxlength="50">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="label" >Email:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-envelope-at"></i></div>
                  </div>
                  <input #email="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Correo electronico" [ngClass]="email.invalid && (email.dirty || email.touched) 
                  ? 'is-invalid' : ''" type="text" name="email" [(ngModel)]="usuario.email"  required >
                </div>
            </div>
        
            <div class="mb-3 row">
                <label class="label" >Dirección:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"> <i class="bi bi-house"></i></div>
                  </div>
                  <input #direccion="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Direccion" [ngClass]="direccion.invalid && (direccion.dirty || direccion.touched) 
                  ? 'is-invalid' : ''" type="text" name="direccion" [(ngModel)]="usuario.direccion"  required >
                </div>
            </div>

            <div class="mb-3 row">
              <label class="label" >Cedula:</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="bi bi-card-heading"></i></div>
                </div>
                <input #cedula="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                placeholder="cedula" [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) 
                ? 'is-invalid' : ''" type="text" name="cedula" [(ngModel)]="usuario.cedula"  required >
              </div>
          </div>

            <div class="mb-3 row">
                <label class="label" >Teléfono:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-telephone"></i></div>
                  </div>
                  <input #telefono="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Telefono" [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) 
                  ? 'is-invalid' : ''" type="text" name="telefono" [(ngModel)]="usuario.telefono"  required >
                </div>
            </div>

            <div class="mb-3 row">
                <label class="label" >Contraseña:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-key"></i></div>
                  </div>
                  <input #password="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Contraseña" [ngClass]="password.invalid && (password.dirty || password.touched) 
                  ? 'is-invalid' : ''" type="password" name="password" [(ngModel)]="usuario.password"  required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="label" >Repetir Contraseña:</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-key"></i></div>
                  </div>
                  <input #confirmacion="ngModel" type="text" class="form-control" id="inlineFormInputGroup" 
                  placeholder="Repetir Contraseña" [ngClass]="confirmacion.invalid && (confirmacion.dirty || confirmacion.touched) ||
                  !sonIguales()    ? 'is-invalid' : ''" type="password" name="confirmarPassword" [(ngModel)]="usuario.confirmarPassword"  required>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!sonIguales()">Las contraseñas no
                coinciden</div>
            <button type="submit" [disabled]="f.invalid || !sonIguales()" class="btn btn-outline-primary">
                <i class="fa-solid fa-circle-plus me-1"></i>
                Registrarse
            </button>
            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
</div>