<p>Resultados de búsqueda para "{{textoBusqueda}}"</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let item of filtro">
        <div class="card shadow-sm">
            <div class="image-item">
                <img src="{{item.imagen [0]}}" />
            </div>
            <div class="card-body">
                <p class="card-text">{{item.nombre}}</p>
                <p class="card-text">{{item.descripcion}}</p>
                <p class="card-text">$ {{item.precio}}</p>
                <span class="badge text-bg-primary me-2" *ngFor="let cat of item.categorias">{{cat}}</span>
                <hr />
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" routerLink="/detalle-producto/{{item.codigo}}"
                            role="button">Ver detalle</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>