<div class="container">
<div class="col" *ngFor="let item of productos">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body" >
        <h5 class="card-title" >{{item.nombre}}</h5>
        <p class="card-text"> $ {{item.precio}}</p>
        <button (click)="agregarCarrito()" class="btn btn-outline-primary" 
       >Agregar al carrito <i class="bi bi-minecart "></i></button>
      </div>
    </div>
</div>

</div>
