<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <h2>categorias</h2>
  <div *ngFor="let item of categorias" class="contenedor">
    <p class="btn btn-outline-primary button" (click)="listarPorCategoria(item)" type="submit">{{ item }}</p>
  </div>

  <div class="contenedor">
    <p class="btn btn-outline-primary" (click)="listarAll()" type="submit">todos</p>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Lista de Productos <b>en tendencia</b></h2>

        <app-alerta [alerta]="alerta"></app-alerta>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-3 card" *ngFor="let item of productos">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img [src]="item.imagenes[0]" />
                    </div>
                    <div class="thumb-content">
                      <h4>{{ item.nombre }}</h4>
                      <p class="item-price">
                        <span>${{ item.precio }}</span>
                      </p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star-o"></i>
                          </li>
                        </ul>
                      </div>
                      <a class="btn btn-outline-primary" routerLink="/ver-detalle/{{ item.codigo }}" role="button">Ver
                        detalle</a>

                      <button class="btn btn-sm btn-danger" (click)="ponerFavorito(item.codigo)">
                        <i class="bi bi-star-fill"></i>
                      </button>

                      <button class="btn btn-sm btn-danger" (click)="ponerCarrito(item.codigo)">
                        <i class="bi bi-cart4"></i>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousels" data-slide-to="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</body>